<h1>Here are all your tasks:</h1>
<ul>
  <% @tasks.each do |task| %>
  <li><%= task.content %>
  <%= link_to "More information", task_path(task)%>
  <%= link_to "Edit", edit_task_path(task) %>
  <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>
</ul>

<h2><%= link_to "Create a Task", new_task_path %></h2>
